:root {
  --clr-background: #c06c84;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  width: min(95%, 80rem);
  margin-inline: auto;
}
.black-bar {
  text-align: center;
  background: black;

  padding: 0.8rem 0;
  font-size: 0.8rem;
}
.black-bar a {
  text-decoration: none;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.8rem 0;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-menu li {
  list-style: none;
  padding-left: 0.8rem;
}
.nav-menu li a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.bold-text {
  font-weight: bold;
}
/* Adidas Logo */
.adidas-logo {
  position: absolute;
}
.adidas-logo img {
  width: 60px;
  height: 60px;
}
.search-cart-container a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  padding: 0.8rem;
}
.search-cart-content {
  padding: 0.5rem 1rem;
}
/* Hamburger Menu */
.closebtn {
  display: none;
}
.fa-bars {
  cursor: pointer;
  display: none;
}
/* Percentage off */
.percentage-off {
  background: lightgray;
  text-align: center;
  padding: 0.1rem 0;
}
.percentage-off a {
  color: black;
  padding-left: 0.3rem;
}

/* Section 1 */
.section-1 {
  padding: 1rem 0;
  background-image: url(/images/adidasCover.jpeg);
  background-position: center;
  background-repeat: no;
  background-size: cover;
  min-height: 50vh;
}
.uppercase {
  text-transform: uppercase;
}

/* Section 2, Ready Set Gift */
.section-2 {
  background: var(--clr-background);
  padding: 2rem 0;
  min-height: 60vh;
  color: #fff;
}
.four-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5rem;
}
.box {
  width: 24%;
}
.box h3 {
  text-transform: uppercase;
}
.four-box-img {
  width: 100%;
}
.shop-now {
  color: #fff;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.shop-now:hover {
  color: black;
  background: #fff;
}
/* Section 3, Category */
.section-3 {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box2 {
  width: 24%;
}
.box2 a {
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.category-img {
  width: 100%;
}
/* Section 4, New Arrivals, Whats trending, Member exclusives */
.section-4::before {
  content: "";
  display: block;
  background: black;
  width: 100%;
  height: 1px;
}
.section-4::after {
  content: "";
  display: block;
  background: black;
  width: 100%;
  height: 1px;
}
.new-trending-exclusive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
/* Media Query 950 px */
@media (max-width: 950px) {
  .adidas-logo {
    display: none;
    font-size: 1.5rem;
  }
  .fa-bars {
    display: flex;
  }

  /* search content */
  .help {
    display: none;
  }
  .search-cart-content input {
    display: none;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #cccc;

    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
