:root {
  --clr-background: #c06c84;
  --clr-grayishBlue: #e0ebeb;
  --clr-darkyellow: #f8da5b;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  width: min(95%, 80rem);
  margin-inline: auto;
}
.black-bar {
  text-align: center;
  background: black;

  padding: 0.8rem 0;
  font-size: 0.8rem;
}
.black-bar a {
  text-decoration: none;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5rem;
}
.nav-menu li {
  list-style: none;
  padding-left: 0.8rem;
}
.nav-menu li a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.bold-text {
  font-weight: bold;
}
/* Adidas Logo */
.adidas-logo {
  position: absolute;
  top: 0;
  left: 1rem;
}
.adidas-logo img {
  width: 60px;
  height: 60px;
}
/* Icons */
.search-cart-container {
  text-align: right;
}
.search-cart-container a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  padding: 0.8rem 0.3rem;
}
.search-cart-container a i {
  font-size: 1.2rem;
}
.search-cart-content {
  padding: 0.5rem 1rem;
}
input {
  padding: 0.5rem;
  width: 50%;
}
/* Hamburger Menu */
.closebtn {
  display: none;
}
.fa-bars {
  cursor: pointer;
  display: none;
}
span i {
  font-size: 1.5rem;
}
/* Percentage off */
.percentage-off {
  background: lightgray;
  text-align: center;
  padding: 0.1rem 0;
}
.percentage-off a {
  color: black;
  padding-left: 0.3rem;
}

/* Section 1 */
.section-1 {
  padding: 1rem 0;
  background-image: url(/images/adidaswallpaper.webp);
  background-position: center;
  background-repeat: no;
  background-size: cover;
  min-height: 60vh;
  color: #fff;
}
.intro-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60vh;
}
.uppercase {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
}
.shop-option-btn {
  background: #fff;
  color: black;
  text-decoration: none;
  padding: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  letter-spacing: 0.1rem;
}
.shop-option-btn:hover {
  color: gray;
}
.intro-content p {
  padding: 0.7rem 0;
}

/* Section 2, Ready Set Gift */
.section-2 {
  background: var(--clr-background);
  padding: 2rem 0;
  min-height: 60vh;
  color: #fff;
}
.four-box-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 1.5rem;
}
.box {
  width: 24%;
}
.box h3 {
  text-transform: uppercase;
}
.four-box-img {
  width: 100%;
}
.shop-now {
  color: #fff;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.shop-now:hover {
  color: black;
  background: #fff;
}
.ready-set-gift-font {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* Section 3, Category */
.section-3 {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.box2 {
  width: 24%;
}
.box2 a {
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.category-img {
  width: 100%;
}
/* Section 4, New Arrivals, Whats trending, Member exclusives */
.section-4::before {
  content: "";
  display: block;
  background: black;
  width: 100%;
  height: 1px;
}
.section-4::after {
  content: "";
  display: block;
  background: gray;
  width: 100%;
  height: 1px;
}
.new-trending-exclusive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 0;
}
.content-1-p {
  display: flex;
  flex-wrap: wrap;
}
.content-1 a {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  padding: 0 0.5rem;
}
.content-1 a:hover {
  color: black;
  border-bottom: 3px solid black;
  padding-bottom: 2.5rem;
}
/* Section 5, Horizontal Scroll */
.section-5 {
  min-height: 50vh;
}
.horizontal-scroll-container {
  display: grid;
  gap: 0.8rem;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-top: 1rem;
}
.horizontal-img {
  width: 100%;
}
.scroll-content a {
  text-decoration: none;
  color: black;
}
.scroll-content a p {
  font-size: 0.8rem;
  text-decoration: none;
}
/* Section 6, four column */
.section-6 {
  min-height: 70vh;
  padding: 1rem 0;
}
.color-black {
  color: black;
}
.color-black:hover {
  color: #fff;
  background: black;
  padding: 0.2rem;
}
/* Section 7 */
.section-7 {
  min-height: 70vh;
  padding: 1rem 0;
}
/* Section 8, Popular right now */
.section-8 {
  min-height: 20vh;
  padding-top: 2rem;
}
.popular-right-now-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.title-text {
  font-size: 2rem;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}
.white-box {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  border: 0.7px solid gray;
  padding: 0.5rem;
}
.white-box:hover {
  border: 1.5px solid black;
}
/* Two Columns */
.section-9 {
  min-height: 70vh;
  background: var(--clr-grayishBlue);
}
.two-columns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.5rem;
}
.history-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 49%;
}
/* Section 10, Yellow Background */
.section-10 {
  min-height: 10vh;
  background: var(--clr-darkyellow);
  padding: 1rem;
}
.yellow-background-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.yellow-column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 49%;
}
.sign-up-btn {
  padding: 1.2rem;
  background: black;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: 0.1s ease-in-out;
}
.sign-up-btn:hover {
  color: gray;
}
.join-our-club {
  text-transform: uppercase;
  font-size: 2rem;
}
/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2rem 0;
  min-height: 30vh;
}
.products h3 {
  text-transform: uppercase;
}
.products p {
  font-size: 0.8rem;
  padding: 0;
  margin: 0.5rem 0;
}
.products p a {
  text-decoration: none;
  color: black;
}
.products {
  width: 16%;
}
/* Media Query 950 px */
@media (max-width: 950px) {
  .adidas-logo {
    display: none;
    font-size: 1.5rem;
  }
  .fa-bars {
    display: flex;
  }

  .four-box-container {
    flex-wrap: wrap;
  }
  .box {
    width: 49%;
    padding: 1rem 0;
  }

  /* search content */
  .help {
    display: none;
  }
  .search-cart-content input {
    display: none;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .overlay-content li a {
    font-size: 1.5rem;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 50px;
    top: 15px;
    right: 35px;
  }
}
@media (max-width: 850px) {
  .section-3 {
    padding: 2rem 0;
  }
  .category-container {
    flex-wrap: wrap;
  }
  .box2 {
    width: 48%;
    padding: 1rem 0;
  }
  .two-columns-container {
    flex-wrap: wrap;
  }
  .history-col {
    width: 100%;
  }
  .yellow-background-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-container {
    flex-wrap: wrap;
  }
  .products {
    width: 32%;
  }
}
@media (max-width: 650px) {
  .box2 a {
    font-size: 0.6rem;
  }
  .four-box-container {
    flex-wrap: wrap;
  }
  .box {
    width: 100%;
    padding: 1rem 0;
  }
  .content-1 {
    padding: 1rem;
  }
  .content-1 a:hover {
    color: black;
    border-bottom: none;
  }
  .overlay-content {
    left: -5rem;
  }
}
@media (max-width: 550px) {
  .footer-container {
    flex-wrap: wrap;
  }
  .products {
    width: 49%;
  }
  .overlay-content {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .overlay-content li a {
    font-size: 1rem;
  }
  .popular-right-now-container {
    flex-wrap: wrap;
    margin: 1rem 0;
  }
}
@media (max-width: 410px) {
  .overlay-content {
    left: -8rem;
  }
  .overlay-content li a {
    font-size: 0.8rem;
  }
}
